.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background-color: #f8f8f8;
}

.nombre{
    height: 50px;
    font-size: 20px;
}